@page "/"

@layout EmptyLayout

<p>
    <MatTextField Type="url" Value="@Url" OnInput="@(e => Url = e.Value.ToString())"
                  Label="Url" Placeholder="Пример: http://kharkov.ukrgo.com/view_section.php?id_section=17" FullWidth="true"></MatTextField>
</p>
<p>
    <MatButton Disabled="string.IsNullOrEmpty(Url)" OnClick="@Process" Raised="true">Обновить</MatButton>
    <MatButton OnClick="@SaveData">Сохранить</MatButton>
</p>
<p>
    <MatProgressBar Progress="@Progress"></MatProgressBar>
</p>
@if (PostLinks != null)
{
    <MatTable Items="@PostLinks" PageSize="@PostLinks.Count" ShowPaging="false">
        <MatTableHeader>
            <th>Действия</th>
            <th>Номер</th>
            <th>Ссылка</th>
        </MatTableHeader>
        <MatTableRow>
            <td class="row-controls">
                <MatIconButton Icon="@MatIconNames.File_copy" OnClick="@(async e => await CopyPhoneNumber(context.Contact.PhoneNumber, e))"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Block" OnClick="@(async e => await BlockPhoneNumber(context.Contact.PhoneNumber, e))"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Open_in_new" OnClick="@(async e => await ShowPostDetails(context.PostLink.Uri, e))"></MatIconButton>
                <MatIconButton Icon="@MatIconNames.Chat" Link="@GetViberUrl(context.Contact.PhoneNumber)"></MatIconButton>
            </td>
            <td>
                <div class="contact-panel">
                    <div class="contact">
                        <span class="contact-number">@context.Contact.PhoneNumber</span>
                        <span class="contact-name">@context.Contact.Name</span>
                    </div>
                    <MatIconButton Icon="@MatIconNames.Contact_phone" OnClick="@(async e => await EditContact(context.Contact.PhoneNumber, e))"></MatIconButton>
                </div>
            </td>
            <td>
                <a href="@context.PostLink.Uri.ToString()" target="_blank">@context.PostLink.Caption</a>
            </td>
        </MatTableRow>
    </MatTable>
}
